<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko" class="win chrome chrome1 webkit webkit5"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="">
<meta name="keywords" content="">
<title>애드벤처스TF 임베디드보험(CoCOBOL)</title>
<!-- 공통 css -->
<link rel="stylesheet" href="/static/css/index.css">
<!-- script -->
<script type="text/javascript" src="/static/js/index.js"></script>
</head>
<body>
	<div id="wrapper" class="page_login">
		<div id="content">
			<div class="box">
				<h1>CoCOBOL FDSC</h1>
				<p>안녕하세요. CoCOBOL FDSC입니다.</p>
				<form action="#none">
					<fieldset>
						<legend>로그인</legend>
						<div>
							<input type="text" class="text placeholder holder_on" title="아이디(사번)" id="formAdminId" value="8092093">
						</div>
						<div>
							<input type="password" class="text " title="비밀번호" id="formAdminPwd" placeholder="비밀번호를 입력해주세요">
						</div>
						<button type="submit" class="btn_com2 c1 w100"><a href="/dash_board">로그인</a></button>
					</fieldset>
				</form>
			</div>
			<p>로그인 및 시스템 관련 문의는 담당자(316-0577)로 문의하세요.</p>
		</div>
	</div>
</body>
</html>